<!DOCTYPE html>
<html lang="fr">
<head>
   <%- include("partials.ejs/head") %>
</head>
<body>
    <%- include("partials.ejs/nav.ejs") %>
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <h1>Mes albums</h1>
          <a href="/albums/create" class="btn btn-primary mt-2 mb-4">
            <%= title  %>
          </a>
          <div class="col col-xs-12 col-sm-4">
            <ul class="list-group">
              <% albums.forEach(album => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/albums/<%=album.id %>"><%= album.title %> (<%= album.images.length %>)</a>
                <a href="/albums/<%= album.id %>/delete" class="link-light badge bg-danger rounded-pill">
                  Supprimer
                </a>
              </li>
             <% })%>
            </ul>
        </div>
        </div>
      </div>
    </div>
  <%- include("partials.ejs/script") %>
</body>
</html>